@media only screen and (min-width: 1339px) {
  #cards-section {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 75px;
  }

  .navigation {
    h1 {
      font-size: 20px !important;
      line-height: 24px;
    }

    h2 {
      font-size: 20px !important;
      line-height: 26px;

      cursor: pointer;
    }
  }
}
