/* Card */

.card {
  cursor: pointer;
  border: none;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -5px, 0px);
  }
}

.card-image {
  width: 100% !important;
  height: 160px;
  border-radius: 5px 5px 0 0 !important;

  .flag {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0 !important;
  }
}

.card-body {
  .card-title {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: $VeryDarkBlue2;
  }
  .card-text {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
  span {
    font-style: bold;
    opacity: 1 !important;
  }
}

/* Card end*/
