// Search input
.search {
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: $DarkGray;
  background-color: $VeryLightGray !important;
  border-radius: 10px !important;
  border: none;
  opacity: 0.8;
  cursor: pointer;

  .search-input {
    border: none;
    border-radius: 10px !important;

    &:focus {
      box-shadow: none !important;
    }
  }
}

.input-group {
  height: 56px;
  border-radius: 10px !important;
  border: none;
}

.selection-items {
  width: 480px;
  height: 56px;
}

// search icon

.fa-magnifying-glass {
  position: relative;
  margin-top: 28px !important;
  margin-right: 15px;
  margin-left: 30px;
  cursor: pointer;
  background-color: white;
}

// Search input end

// Filter btn
.dropdown {
  height: 56px;
  width: 200px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: $VeryDarkBlue2;
  border: none;
  border-radius: 10px;
  background-color: $VeryLightGray;

  // dropdown menu

  &:focus {
    outline: none;
    box-shadow: none;
    color: $VeryDarkBlue2;
  }

  &:hover {
    color: $VeryDarkBlue2;
  }
}

.dropdown-item {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $VeryDarkBlue2;
}
