//active classes for dark/light theme
body.active {
  background-color: $VeryDarkBlue;
}

.navigation-col.active {
  background-color: $DarkBlue;
}

.where.active {
  color: $White !important;
}

.dark.active {
  color: $White !important;
}

.card-body.active {
  background-color: $VeryDarkBlue !important;
  color: $White !important;
}

.card-text.active {
  background-color: $VeryDarkBlue !important;
  color: $White !important;
}

.card-image.active {
  background-color: $DarkBlue !important;
}

.card-title.active {
  color: $White !important;
}

.search.active {
  background-color: $DarkBlue !important;
}

.dropdown.active {
  background-color: $DarkBlue !important;
  color: $White !important;
}

.search-input.active {
  background-color: $DarkBlue !important;
  color: $White !important;
}

.input-group.active {
  background-color: $DarkBlue !important;
}

.fa-magnifying-glass.active {
  background-color: $DarkBlue !important;
  color: $White !important;
}

.back-btn.active {
  background-color: $DarkBlue !important;
  color: $White !important;
}

.dropdown-menu.active {
  background-color: $DarkBlue !important;
}

.dropdown-item.active {
  color: $White !important;
}

.nav-row.active {
  background-color: $DarkBlue !important;
}

.all.active {
  color: $White !important;
}

.hide {
  display: none;
}

.first-col.active {
  color: $White !important;
}

.bold.active {
  color: $White !important;
}

.border-heading.active {
  color: $White !important;
}

.border-country.active {
  color: $White !important;
  background-color: $DarkBlue !important;
}

.fa-solid.active {
  color: $White;
}

.back.active {
  color: $White !important;
}
