//active classes for dark/light theme
body.active {
  background-color: $VeryDarkBlue;
}

.navigation-col.active {
  background-color: $DarkBlue;
}

.where.active {
  color: white !important;
}

.dark.active {
  color: white !important;
}

.card-body.active {
  background-color: $DarkBlue !important;
  color: white !important;
}

.card-title.active {
  color: white !important;
}

.search.active {
  background-color: $DarkBlue !important;
}

.dropdown.active {
  background-color: $DarkBlue !important;
  color: white !important;
}

.search-input.active {
  background-color: $DarkBlue !important;
}

.input-group.active {
  background-color: $DarkBlue !important;
}

.fa-magnifying-glass.active {
  background-color: $DarkBlue !important;
}

.hide {
  display: none;
}
