//  back btn
.back-btn {
  width: 104px;
  height: 32px;
  background-color: white;
  cursor: pointer;

  a {
    text-decoration: none;
    color: $VeryDarkBlue2;
  }
}

.card {
  background-color: $VeryLightGray;
}

.card-img-top {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card-body {
  p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
    color: #111517;
  }
}

.card-bottom {
  padding: 1rem 1rem;
}

.border-country {
  width: 96px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.bold {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  color: #111517;
}

.fa-solid {
  margin-right: 10px;
}

.borders {
  padding: 1rem 1rem;
}

.borders-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.border-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $VeryDarkBlue2;
}
